.h-c-l-img{
    width: 300px;
}
.home-header{
    min-height: 90vh;
}
.title{
    height: 20vh;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-title{
    font-size: 1.75rem;
    text-align: center;
}
.header-main{
    border: 1px solid #16444d;
    border-radius: 5px 5px 0 0;
    min-height: 60vh;
    background:#192734;
    nav{
        border-bottom: 1px solid #16444d;
        padding: .5rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .round{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 1rem;
        }
        .round:nth-child(1){
            background-color:#fc6058;
        }
        .round:nth-child(2){
            background-color:#000;
        }
        .round:nth-child(3){
            background-color:#192734;
        }
    }
    .flex{
        gap: 1rem;
        a{
            font-size: 1rem;
        }
    }
}
.h-c{
    padding: 3rem 10rem;
}
.h-c-l{
    width: 300px;
    grid-row: 1/-1;
    grid-column: 1/2;
    text-align: center;
}
.h-c-r{
    grid-row: 2/4;
    grid-column: 2/3;
    z-index: 0;
    position: relative;
}
.h-c-square{
    padding: 0 2rem;
    border: 3px solid #16444d;
    width: 400px;
    height: 200px;
    position: relative;
    background: #172430;
    &::before{
        position: absolute;
        content: '';
        width: 400px;
        height: 200px;
        background:#111921;
        top: -1rem;
        left: -1rem;
        z-index: -10;
    }
}
.h-c-r-rounds .round{
    position: absolute;
    width: 10px;
    height: 10px;
    &:nth-child(1){
        top: 0;
        left: 0;
        transform: translate(-50%,-50%);
    }
    &:nth-child(2){
        top: 0;
        right: 0;
        transform: translate(50%,-50%);
    }
    &:nth-child(3){
        bottom: 0;
        left: 0;
        transform: translate(-50%,50%);
    }
    &:nth-child(4){
        bottom: 0;
        right: 0;
        transform: translate(50%,50%);
    }
}
.h-c-l-rounds .round{
    margin-left: 1rem;
    border: 2px solid white;
    transition: scale .3s ease;
    transition: border translate .2s step-end;
    transform: scale(1);
    margin: 1rem .5rem;
    &:hover{
        border: 4px solid white;
        transform: translateY(15%) scale(1.3);
    }
    &:nth-child(1){
        background-color: #fff;
    }
    &:nth-child(2){
        background-color: #192734;
    }
    &:nth-child(3){
        background-color: #78866b;
    }
    &:nth-child(4){
        background-color: #7e4c74;
    }
}

.information{
    padding: 2rem 0;
    border-top: 1px solid #16444d;
    .container{
        gap:2rem;
        // align-items: flex-start;
        
    }
    a{
        font-size: 1rem;
        color: #17a2ab;
    }
}
.i-l{
    h3{
        margin: 1rem 0;
    }
    p{
        margin: .75rem 0;
    }
    .skill-block{
        background: #111921;
        font-size: 1.5rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
        padding: 3rem;
        .skill-block-left,.skill-block-right{
            justify-self: center;
        }
    }
}
.i-r{
   text-align: center;
   h2{
       margin: 2rem 0;
   }
   .social-links{
    margin: 3rem 0;
   }
   
}

.projects{
    
    border-top: 2px solid #16444d;
    border-bottom: 2px solid #16444d;
    position: relative;
}
.project-container{
    min-height: 75vh;
    width: 60vw;
    margin: auto;
    gap: 2rem;
    
}
.project{
    background: white;
    color: black;
    width: 300px;
    height: 320px;
    
    
    .img{
        width: 300px;
    }
    .project-text{
        margin: 0 1rem;
        h3{
            font-size: 1.2rem;
            margin-top: .5rem;
        }
        p{
            color: #4b5156;
            font-size: 1rem;
            margin: 1rem 0;
        }
        a{
            color:#17a2b8;
            font-size: .9rem;
        }
    }
    
}
.timeline-button{
    position: absolute;
    bottom: 0;
    left: 50%;
    border: 2px solid orangered;
padding: .15rem 1.25rem;
border-radius: 10px 5px;
transition: all .25s ease-in;
}
.timeline-button:hover{
    background-color: orangered;
}
.contact{
    min-height: 75vh;
    background: #192734;
    padding: 3rem 0;
    h2{
        text-align: center;
        margin-bottom: 2rem;
    }
}
.contact-container{
    justify-content: center;
    
    form{
        background: #15202b;
        border: 2px solid #16444d;
        width: 40vw;
        min-height: 50vh;
        font-size: 1.1rem;
        font-family: 'Russo One', sans-serif;
        padding: 2rem 1rem;
        input{
            width: 100%;
            background: #192734;
            outline: none;
            border: 2px solid #16444d;
            border-radius: 5px;
            margin: .5rem 0;
            padding: .4rem;
        }
        textarea{
            width: 100%;
            text-align: left;
            margin: .5rem 0;
        }
        .btn{
            display: block;
            width: 100%;
            background: #17a2b8;
            text-align: center;
            cursor: pointer;
            padding: .5rem;
        }
    }
}



@media only screen and (max-width: 1000px){
    .contact form{
        width: 90vw;
    }
    .project-container{
        flex-direction: column;
        
    }
    .information{
        padding: 1rem 0;
        .container{
            flex-direction: column;
            width: 90%;
        }
    }
    .h-c{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .home-header .container{
        width: 95%;
    }
    .h-c-square {
        width: 350px;
        height: 200px;
        &::before{
            width: 350px;
            height: 200px;
            left: -4.5%;
            top: -7.5%;
        }
    }
    .title{
        margin: 2rem 0;
    }
    .sub-title{
        font-size: 1.25rem;
    }
    .timeline-button{
        position: absolute;
        bottom: 50%;
        left:  85%;
        transform: rotate(90deg);
        padding: .15rem .25rem;
        width: 75px;
        font-size: 1rem;
        text-align: center;
    }
}