*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --ubuntu: 'Ubuntu', sans-serif;
    --robotoMono: 'Roboto Mono', monospace;
    --black: #1f1f1f;
    --darkBlue:  #1f618d;
    --yellow:  #f4d03f;
    --grey:  #424949;
    --violet: #292d7b;
    --white: #fff;
  }
body{
    background: #15202b;
    color: white;
    font-size: 10px;
    z-index: 0;
}
h1,h2,h3,a,h6{
    font-family: 'Russo One', sans-serif;
}
p{
    font-family: 'Roboto Mono', monospace;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
}
li{
    list-style: none;
    cursor: pointer;
}
.container{
    width: 75%;
    margin: auto;
}
.title{
    text-align: center;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1rem;
}
p{
    font-size: 1.1rem;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 3rem;
    justify-content: space-between;
}
.round{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: orangered;
    cursor: pointer;
}
@import 'index';
@import 'timeline';